*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 2rem;
}
.wrapper-slider{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 25px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, .25);
    scrollbar-width:none;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
